<%# Rendered only when a commentform is submitted (and not in the loops rendering the comments/replies of the /product/comments or comments/show page) %>
<div class="comment text-decoration-none" data-controller="replies-and-comments" >
  <%= cl_image_tag comment.user.avatar.key, crop: "fill", gravity: "center", aspect_ratio: "1:1", class: "avatar"%>
  <div class="comment-container">
    <div class="comment-content">
      <div class="comment-author">
        <%= comment.user.username %>
      </div>
      <div class="comment-body">
        <%= comment.body %>
      </div>
    </div>
    <div class="comment-date-and-reply">
      <span class="comment-date-and-reply-button"><%= time_ago_in_words(comment.created_at, include_seconds: false).gsub('about', '').gsub(/minute(s)?\s*/, 'm').gsub(/hour(s)?\s*/, 'h').gsub(/day(s)?\s*/, 'd').gsub(' m', 'm').gsub(' h', 'h').gsub(' d', 'd') %></span>
      <span class="comment-date-and-reply-button" data-action="click->replies-and-comments#togglereplyform">Reply</span>
      <% if comment.user == current_user %>
        <%= button_to 'Delete', comment_path(comment), method: :delete, class: 'comment-date-and-reply-button' %>
      <% end %>
    </div>
    <% if context = "comment" %>
      <%= render "comments/direct_reply_form", product: comment.product, parent_comment: comment, reply: Comment.new, remote: true %>
      <div class="commentlastreplies" data-replies-and-comments-target="commentlastreplies">
        <% if comment.replies.any? %>
            <%= render "comments/comment_reply", reply: comment.replies.last, parent_comment: comment, product: comment.product %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
