<%= form_with(model: [product, comment], url: product_comments_path(product), method: :post,  class: "comment-form", id: "comment-form", data: { "comments-target": "commentform", action: "comments#submit"}) do |form| %>
  <%= cl_image_tag current_user.avatar.key, crop: "fill", gravity: "center", aspect_ratio: "1:1", class: "avatar"%>
  <div class="d-flex position-relative form-control comment-input w-100">
    <%= form.hidden_field :context, value: context %>
    <%= form.text_area :body, rows: 1, placeholder: 'Leave a comment...', class: "comment-textarea" %>
    <%= button_tag type: "submit", class: "comment-submit small-follow-button" do %>
      <% if parent_comment %>
        <%= form.hidden_field :parent_comment_id, value: parent_comment.id %>
      <% end %>
      Post
    <% end %>
  </div>
<% end %>




<!--
<div class="reply-form-indicator">
<span class="reply-form-indicator-text">Replying to <%#= parent_comment.user.username %></span>
  <span class="reply-form-indicator-close" data-action="click->replies#toggleReplyForm">x</span>
</div>
-->
