<%= form_with(model: [@product, Comment.new], url: product_comments_path(product), remote: true, method: :post,  class: "comment-form", id: "comment-form") do |form| %>
  <%= cl_image_tag current_user.avatar.key, crop: "fill", gravity: "center", aspect_ratio: "1:1", class: "avatar"%>
  <div class="d-flex position-relative form-control comment-input w-100">
    <%= form.text_area :body, rows: 1, placeholder: 'Leave a comment...', class: "comment-textarea" %>
    <%= button_tag type: "submit", class: "comment-submit small-follow-button" do %>
      <% if parent_comment.present? %>
        <%= form.hidden_field :parent_comment_id, value: parent_comment.id %>
      <% end %>
      Post
    <% end %>
  </div>
<% end %>
