<%= form_with(model: [product, reply], url: product_comments_path(product), method: :post, class: "reply-form d-none", id: "reply-form", data: { "replies-and-comments-target": "replyform", action: "replies-and-comments#submitReply"}) do |form| %>
  <%= cl_image_tag current_user.avatar.key, class: "avatar-small"%>
  <div class="d-flex position-relative form-control comment-input w-100">
    <%= form.text_area :body, rows: 1, placeholder: 'Add a reply...', class: "comment-textarea" %>
    <%= button_tag type: "submit", class: "comment-submit small-follow-button" do %>
    <%= form.hidden_field :parent_comment_id, value: parent_comment.id %>
      Reply
    <% end %>
  </div>
<% end %>
