<div class="comment reply text-decoration-none">
  <%= cl_image_tag reply.user.avatar.key, crop: "fill", gravity: "center", aspect_ratio: "1:1", class: "avatar-small"%>
  <div class="comment-container">
    <div class="comment-content">
      <div class="comment-author">
        <%= reply.user.username %>
      </div>
      <div class="comment-body">
        <%= reply.body %>
      </div>
    </div>
    <div class="comment-date-and-reply">
      <span class="comment-date-and-reply-button">



                  <% if time_ago_in_words(comment.created_at, include_seconds: false) == "less than a minute ago" %>
              <%= time_ago_in_words(comment.created_at, include_seconds: false) %>
            <% else %>
              <%= time_ago_in_words(comment.created_at, include_seconds: false).gsub('about', '').gsub(/(\d+)\s*minute(s)?\s*/, '\1m').gsub(/(\d+)\s*hour(s)?\s*/, '\1h').gsub(/(\d+)\s*day(s)?\s*/, '\1d').gsub(/(\d+)\s*month(s)?\s*/, '\1mo').gsub(/(\d+)\s*year(s)?\s*/, '\1y') %>
            <% end %>
      </span>


            <span class="comment-date-and-reply-button" data-action="click->replies#toggleReplyForm">Reply</span>

                    <span class='comment-date-and-reply-button'>
                <%= button_to 'Delete', comment_path(reply), method: :delete, style: "border: none; padding: 0; background: none; color: inherit; font: inherit; text-align: inherit;" %>
              </span>
    </div>
  </div>
</div>
