<div class="nav-header sticky-header">
  <%= link_to :back do %>
    <i class="fa-regular fa-arrow-left"></i>
  <% end %>

  <div class="product-title-and-list-name">
    <h6><%= @product.title %></h6>
    <h5> <%= @comment.user.username %>'s comment</h5>
  </div>
  <!-- empty div to make space-between styling work -->
  <div></div>
</div>


<div class="comments" data-controller="comments">

  <div class="comments-container">
  <!-- Main comment -->
    <div class="comment text-decoration-none" >
      <%= cl_image_tag @comment.user.avatar.key, crop: "fill", gravity: "center", aspect_ratio: "1:1", class: "avatar"%>
      <div class="comment-container">
        <div class="comment-content">
          <div class="comment-author">
            <%= @comment.user.username %>
          </div>
          <div class="comment-body">
            <%= @comment.body %>
          </div>
        </div>
        <div class="comment-date-and-reply">
          <span class="comment-date-and-reply-button"><%= time_ago_in_words(@comment.created_at, include_seconds: false).gsub('about', '').gsub(/minute(s)?\s*/, 'm').gsub(/hour(s)?\s*/, 'h').gsub(/day(s)?\s*/, 'd').gsub(' m', 'm').gsub(' h', 'h').gsub(' d', 'd') %></span>
          <span class="comment-date-and-reply-button" data-action="click->replies-and-comments#togglereplyform">Reply</span>
          <% if @comment.user == current_user %>
            <span class="comment-date-and-reply-button">Delete</span>
          <% end %>
        </div>
        <!-- Replies within main comment div to make it nest -->
        <div class="comment-show-page-replies-container" data-comments-target="comments">
          <% @replies.each do |reply| %>
            <div class="comment reply text-decoration-none" >
              <%= cl_image_tag reply.user.avatar.key, crop: "fill", gravity: "center", aspect_ratio: "1:1", class: "avatar"%>
              <div class="comment-container">
                <div class="comment-content">
                  <div class="comment-author">
                    <%= reply.user.username %>
                  </div>
                  <div class="comment-body">
                    <%= reply.body %>
                  </div>
                </div>
                <div class="comment-date-and-reply">
                  <span class="comment-date-and-reply-button"><%= time_ago_in_words(reply.created_at, include_seconds: false).gsub('about', '').gsub(/minute(s)?\s*/, 'm').gsub(/hour(s)?\s*/, 'h').gsub(/day(s)?\s*/, 'd').gsub(' m', 'm').gsub(' h', 'h').gsub(' d', 'd') %></span>
                  <span class="comment-date-and-reply-button" data-action="click->replies-and-comments#togglereplyform">Reply</span>
                  <% if reply.user == current_user %>
                    <span class="comment-date-and-reply-button">Delete</span>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>



  </div>

  <!-- so the scrolling after comment submission works  -->
  <div class="scroll-point h-300">
  </div>
  <%= render 'comments/commentform', product: @product, comment: Comment.new, parent_comment: @comment, context: "reply", remote: true %>

</div>
