<h1>Notifications</h1>






<% @notifications.each do |notification| %>
  <div>
    <% case notification.action %>
      <% when 'followed' %>
        <strong><%= link_to notification.actor.username, user_path(notification.actor) %></strong> now follows you
        <% if notification.read == false %>
          <span>(unread)</span>
        <% end %>
      <% when 'liked' %>
        <!-- Code for when the action is 'liked' goes here -->
      <% when 'commented' %>


        <%= link_to comment_path(notification.comment) do %>
          <div class="notification">
            <strong><%= link_to notification.actor.username, user_path(notification.actor) %></strong> commented on your product
              <% if notification.read == false %>
                <span>(unread)</span>
              <% end %>
          </div>
        <% end %>


      <% when 'replied' %>
        <%= link_to comment_path(notification.comment) do %>
          <div class="notification">
            <strong><%= link_to notification.actor.username, user_path(notification.actor) %></strong> replied to your comment
            <% if notification.read == false %>
              <span>(unread)</span>
            <% end %>
          </div>
        <% end %>
    <% end %>

  </div>
<% end %>
