
  <div class="user-card text-decoration-none">
    <div class="avatar-and-username-and-product-list-follow-counts-and-follow-button">
      <div class="avatar-and-username-and-product-list-follow-counts">
<% if user.present? && user.avatar.present? %>
    <%= link_to user_path(user) do %>
        <%= cl_image_tag user.avatar.key, class: "avatar-medium" %>
    <% end %>
<% end %>


        <div class="username-and-product-list-follow-counts">
          <div class="username-and-conditional-follow-button">
            <%= link_to user_path(user), class: "paragraph-small-semibold" do%>
              <%= user.username %>
            <% end %>
            <% if local_assigns[:iterating_for] == "sidebar" %>
              <div class="follow-button">
                <%# need to pass iterating_for to the data so in the sidebar the button just vanishes once you follow someone %>
                <%= link_to 'Follow', follow_user_path(user), method: :post, class: "button button-link", data: { controller: "follows", follows_target: "button", url: follow_user_path(user), method: "post", action: "click->follows#toggleFollow", iterating_for: "sidebar" } %>
              </div>
            <% end %>
          </div>

          <%= link_to user_path(user), class: "product-list-follow-counts" do%>
            <div class="counts">
              <div class="paragraph-small-medium"><span class="bold-text"><%= user.products.count %></span> <i class="fa-sharp fa-regular fa-square"></i></div>
              <div class="paragraph-small-medium"><span class="bold-text"><%= user.lists.count %></span> <i class="fa-sharp far fa-table-cells"></i></div>
            </div>
          <% end %>

        </div>
      </div>
      <%# Defining which button to appear (follow, unfollow, remove follower, or followed (the latter serves the same function as remove follower but just discourages the negative action of unfollowing).
      The unfollow nad remove follow buttons only appear on the follow page of current_user, in the followed and following tabs respectively%>
      <% unless local_assigns[:iterating_for] == "sidebar" %>
        <div class="follow-or-bookmarks-button">
          <% if !user_signed_in? %>
            <%= link_to 'Follow', new_user_session_path, class: "button button-primary button-small" %>
          <% elsif local_assigns[:sidebar] %>
            <!-- ... -->
          <% elsif local_assigns[:current_user_followers_tab] %>
            <%= link_to 'Remove', remove_follower_user_path(user), class: "button button-tertiary", method: :post, data: { controller: "follows", follows_target: "button" , method: "post", url: follow_user_path(user), action: "click->follows#toggleFollow" } %>
          <% elsif local_assigns[:current_user_followed_tab] %>
            <%= link_to 'Unfollow', unfollow_user_path(user), class: "button button-tertiary", method: :post, data: { controller: "follows", follows_target: "button", method: "post", url: unfollow_user_path(user), action: "click->follows#toggleFollow" } %>
          <% elsif current_user.is_following?(user.id) %>
            <%= link_to 'Followed', unfollow_user_path(user), class: "button button-secondary", method: :post, data: { controller: "follows", follows_target: "button", method: "post", url: unfollow_user_path(user), action: "click->follows#toggleFollow" } %>
          <% elsif user.is_following?(current_user.id) %>
            <%= link_to 'Follow back', follow_user_path(user), method: :post, class: "button button-primary button-small", data: { controller: "follows", follows_target: "button", url: follow_user_path(user), method: "post", action: "click->follows#toggleFollow" } %>
          <% elsif user != current_user %>
            <%= link_to 'Follow', follow_user_path(user), method: :post, class: "button button-primary button-small", data: { controller: "follows", follows_target: "button", url: follow_user_path(user), method: "post", action: "click->follows#toggleFollow" } %>
          <% else %>
            <div class="bookmarks-button">
              <%= link_to bookmarks_path do %>
                <i class="fa-sharp fa-light fa-book-bookmark fa-2xl"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

<% if user.intro.present? %>
  <%= link_to user_path(user), class: "intro" do %>
    <%= user.intro %>
  <% end %>
<% end %>




    <div class="follow-count-and-followed-by-avatars-and-text">
      <div class="paragraph-small-regular"><span class=""><%= user.followers.count %></span> followers</div>
      <% if user_signed_in? %>
        <% mutual_followers = current_user.mutual_follows_with(user) %>
        <% mutual_followers_first_3 = mutual_followers.first(3) %>

        <% if mutual_followers_first_3.any? %>
          <div class="followed-by-avatars-and-text">
            <div class="avatar-group">
              <% mutual_followers_first_3.each do |follower| %>
                <% if follower.avatar.attached? %>
                  <span class="avatar-xs avatar-in-group">
                    <%= cl_image_tag follower.avatar.key, alt: follower.username %>
                  </span>
                <% end %>
              <% end %>
            </div>


            <div class="followed-by-text paragraph-small-regular">
              Followed by
              <% case mutual_followers_first_3.size
                when 1 %>
                <%= mutual_followers_first_3.first.username %>
              <% when 2 %>
                <%= mutual_followers_first_3.first.username %> and <%= mutual_followers_first_3.last.username %>
              <% else %>
                <%= mutual_followers_first_3[0].username %>, <%= mutual_followers_first_3[1].username %>, and <%= pluralize(mutual_followers.size - 2, 'other') %> you follow
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
