<div class="user-card-show-page text-decoration-none">
  <!-- using bootstrap grid -->
  <div class="avatar-and-username-and-follow-counts-and-follow-or-bookmarks-button row">

    <%= link_to user_path(user), class: "col-3" do %>
      <%= image_tag user.avatar, class: 'avatar-xl' %>
    <% end %>
    <div class="username-and-follow-counts col-6">
      <div class="username-and-conditional-follow-button">
        <%= link_to user_path(user) do %>
          <h5 class="username"><%= user.username %></h5>
        <% end %>
        <%# small follow button appearing only in the follows page %>
        <% if local_assigns[:current_user_followers_tab] && !current_user.is_following?(user) %>
          <%= button_to 'follow', follow_user_path(user), method: :post, class: "small-follow-button" %>
        <% elsif local_assigns[:current_user_followed_tab] && user.is_following?(current_user) %>
          <div class="small-follow-button">
            follows you
          </div>
        <% end %>
      </div>
      <div class="follow-counts">
        <div class="followers-count paragraph-small"><span class="bold-text"><%= user.followers.count %></span> followers</div>
        <div class="following-count paragraph-small"><span class="bold-text"><%= user.followed.count %></span> following</div>
      </div>
    </div>

    <%# Defining which button to appear (follow, unfollow, remove follower, or followed (the latter serves the same function as remove follower but just discourages the negative action of unfollowing).
    The unfollow nad remove follow buttons only appear on the follow page of current_user, in the followed and following tabs respectively%>
    <div class="follow-or-bookmarks-button col-3">
      <% if local_assigns[:current_user_followers_tab] %>
        <%= button_to 'Remove', remove_follower_user_path(user), method: :post, class: "btn btn-main" %>
      <% elsif local_assigns[:current_user_followed_tab] %>
        <%= button_to 'Unfollow', unfollow_user_path(user), method: :post, class: "btn btn-main" %>
      <% elsif current_user.is_following?(user.id) %>
        <%= button_to 'Followed', unfollow_user_path(user), method: :post, class: "button button-secondary button-small" %>
      <% elsif user.is_following?(current_user.id) %>
        <%= button_to 'Follow Back', follow_user_path(user), method: :post, class: "button button-main button-small" %>
      <% elsif user != current_user %>
        <%= button_to 'Follow', follow_user_path(user), method: :post, class: "button button-main button-small" %>
      <% else %>
      <div class="bookmarks-button">
        <%= link_to bookmarks_path do%>
          <i class="fa-sharp fa-light fa-book-bookmark fa-2xl"></i>
        <% end %>
      </div>

      <% end %>
    </div>
  </div>


  <!-- End of bootstrap grid -->
  <div class="intro">Entrepreneur & biohacker  | life extension-freak bestselling author. SG resident. Proud Dad of 4. Owner of BioTECH Ltd. in Australia.
  </div>





  <% mutual_followers = current_user.mutual_follows_with(user) %>
  <% mutual_followers_first_3 = mutual_followers.first(3) %>

    <% if mutual_followers_first_3.any? %>
    <div class="followed-by-avatars-and-text">
      <div class="avatar-group">
        <% mutual_followers_first_3.each do |follower| %>
          <span class="avatar-xs avatar-in-group">
            <%= cl_image_tag follower.avatar.key, alt: follower.username %>
          </span>
        <% end %>
      </div>
      <div class="followed-by-text paragraph-small">
        Followed by
        <% case mutual_followers_first_3.size
          when 1 %>
          <%= mutual_followers_first_3.first.username %>
        <% when 2 %>
          <%= mutual_followers_first_3.first.username %> and <%= mutual_followers_first_3.last.username %>
        <% else %>
          <%= mutual_followers_first_3[0].username %>, <%= mutual_followers_first_3[1].username %>, and <%= pluralize(mutual_followers.size - 2, 'other') %> you follow
        <% end %>
      </div>
    </div>
  <% end %>





</div>
