<div data-controller="product-pagination list-pagination referral-pagination">
  <%= render "users/user_card_show_page", user: @user %>
  <ul class="nav custom-nav nav-pills nav-justified sticky-nav text-decoration-none" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link custom-nav-link active product-tabs overline" id="pills-lists-tab" data-action="show.bs.tab->list-pagination#tabShown hide.bs.tab->list-pagination#tabHidden" data-bs-toggle="pill" data-bs-target="#pills-lists" type="button" role="tab" aria-controls="pills-lists" aria-selected="true"><i class="fa-sharp fa-light fa-table-cells"></i><div><span class="custom-nav-link-count"><%= @lists_count %></span> Lists</div></button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link custom-nav-link product-tabs overline" id="pills-products-tab" data-action="show.bs.tab->product-pagination#tabShown hide.bs.tab->product-pagination#tabHidden" data-bs-toggle="pill" data-bs-target="#pills-products" type="button" role="tab" aria-controls="pills-products" aria-selected="false"><i class="fa-sharp fa-light fa-square"></i><div><span class="custom-nav-link-count"><%= @products_count%></span> Products</div></button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link custom-nav-link product-tabs overline" id="pills-referrals-tab" data-action="show.bs.tab->referral-pagination#tabShown hide.bs.tab->referral-pagination#tabHidden" data-bs-toggle="pill" data-bs-target="#pills-referrals" type="button" role="tab" aria-controls="pills-referrals" aria-selected="false"><i class="fa-sharp fa-light fa-tag"></i><div><span class="custom-nav-link-count"><%= "#{@referrals_count}" if @referrals_count > 0 %></span> Referrals</div></button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link custom-nav-link product-tabs overline" id="pills-about-tab" data-bs-toggle="pill" data-bs-target="#pills-about" type="button" role="tab" aria-controls="pills-about" aria-selected="false"><i class="fa-sharp fa-light fa-address-card"></i>About</button>
    </li>
  </ul>


  <div class="tab-content product-content" id="pills-tabContent">

    <div class="tab-pane fade show active linebreak" id="pills-lists" role="tabpanel" aria-labelledby="pills-lists-tab">
    <div id="lists" class="list-card-grid"
      data-list-pagination-target="lists"
      data-list-pagination-url-value="<%= @pagination_url %>"
      data-list-pagination-page-value="<%= 2 %>"
      <% if @user == current_user %>
        data-controller="sortable"
        data-sortable-resource-name-value="list"
        data-sortable-handle-value=".fa-grip-lines-list"
      <% end %>
    >


      </div>
    </div>


    <div class="tab-pane fade linebreak" id="pills-products" role="tabpanel" aria-labelledby="pills-products-tab">
      <div id="products" class="card-grid"
      data-product-pagination-target="products"
      data-product-pagination-url-value="<%= @pagination_url %>"
      data-product-pagination-page-value="<%= 2 %>">

      </div>
    </div>





    <div class="tab-pane fade linebreak" id="pills-referrals" role="tabpanel" aria-labelledby="pills-referrals-tab">
      <div id="referrals" class="card-grid"
      data-referral-pagination-target="referrals"
      data-referral-pagination-url-value="<%= @pagination_url %>"
      data-referral-pagination-page-value="<%= 2 %>">

      </div>
    </div>


    <div class="tab-pane fade linebreak" id="pills-about" role="tabpanel" aria-labelledby="pills-about-tab">
      <div class="about-text">
        <h6 class="text-center">Bio</h6>
        <p><%= simple_format(@user.bio) %></p>
      </div>
    </div>

    <%# keeping this here in case I need to get back to the navigation logic through iterating_for %>
    <%# <div class="card-grid"> %>
      <%# <% @products.each do |product| %>
        <%# <%= render 'shared/product_card', product: product, iterating_for: "user_show_page"  %>
      <%# <% end %>
    <%# </div> %>
    <%# <div class="list-card-grid"> %>
      <%# <% @lists.each do |list| %>
        <%# <%= render 'shared/list_card', list: list, iterating_for: "user_show_page_lists" %>
      <%# <% end %>
    <%# </div> %>
    <%# <div class="card-grid"> %>
      <%# <% @referrals.each do |referral| %>
        <%# <%= render 'shared/referral_card', referral: referral, iterating_for: "user_show_page_referrals" %>
      <%# <% end %>
    <%# </div> %>
  </div>
</div>
