<div id="fullscreen-bg">
  <div class="slidingimagerows" data-controller="slidingimagerows">
    <div data-slidingimagerows-target="row" class="row-container"></div>
    <div data-slidingimagerows-target="row" class="row-container"></div>
    <div data-slidingimagerows-target="row" class="row-container"></div>
    <div data-slidingimagerows-target="row" class="row-container"></div>
  </div>
</div>


<div id="centered-form" class="new-session-container" data-controller="slidingimagerows">
  <div class="logo-and-intro">
    <h2>Reset password</h2>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Send me reset password instructions",  class: 'log-in-button button button-primary' %>
    </div>
  <% end %>
  <%= link_to 'Back to sign in', new_user_session_path, class: 'button button-tertiary enter-as-guest'%>
</div>
