<div class="list-card">
  <%= link_to list_path(list, source: local_assigns[:iterating_for]), class: "text-decoration-none", id: "list_#{list.id}" do %>
    <% tiles, grid_class = generate_tiled_background(list) %>
    <div class="<%= grid_class %>">
      <%= tiles.html_safe %>
      <div class="list-card-content <%= local_assigns[:iterating_for] == "sidebar" ? "list-card-content-sidebar" : "" %> ">
        <% unless controller_name == "users" && action_name == "show"  %>

          <div class="user-info">
            <%= image_tag list.user.avatar, class: "avatar-small" %>
            <div class="user-text">
              <div class="<%= local_assigns[:iterating_for] == "sidebar" ? "paragraph-xsmall-semibold" : "paragraph-small-semibold" %>"><%= list.user.username %></div>
              <div class="<%= local_assigns[:iterating_for] == "sidebar" ? "paragraph-xsmall-regular" : "paragraph-small-regular" %>"><%= list.user.followers_count %> followers</div>
            </div>
          </div>
        <% end %>

        <div class="product-count-and-list-name">
          <% if local_assigns[:iterating_for] == "sidebar" %>
            <div class="paragraph-large-medium line-height-1-25"><%= list.name %><div>
          <% else %>
            <h3 class="list-name bold line-height-1-25"><%= list.name %></h3>
          <% end %>
          <%# <hr> %>
          <div class="<%= local_assigns[:iterating_for] == "sidebar" ? "paragraph-small-regular" : "paragraph-large-regular" %> thin">
            <span class="semi-bold"><%= list.products.count %></span>
            <%= "products".pluralize(list.products.count) %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>



<div class="list-card-mobile-container">
  <% unless controller_name == "users" && action_name == "show"  %>
    <div class="user-info-mobile">
      <%= image_tag list.user.avatar, class: "avatar-small" %>
      <div class="user-text-mobile">
        <div class="<%= local_assigns[:iterating_for] == "sidebar" ? "paragraph-xsmall-semibold" : "paragraph-small-semibold" %>"><%= list.user.username %></div>
        <div class="<%= local_assigns[:iterating_for] == "sidebar" ? "paragraph-xsmall-regular" : "paragraph-small-regular" %>"><%= list.user.followers_count %> followers</div>
      </div>
    </div>
  <% end %>

  <%= link_to list_path(list, source: local_assigns[:iterating_for]), class: "text-decoration-none", id: "list_#{list.id}" do %>
    <div class="list-card-mobile">
      <% tiles, grid_class = generate_tiled_background(list) %>
      <div class="<%= grid_class %>">
        <%= tiles.html_safe %>
        <div class="list-card-content-mobile <%= local_assigns[:iterating_for] == "sidebar" ? "list-card-content-sidebar" : "" %> ">
          <div class="product-count-and-list-name">
            <h6 class="list-name bold line-height-1-25"><%= list.name %></h6>
            <div class="paragraph-small-regular">
              <span class="semi-bold"><%= list.products.count %></span>
              <%= "products".pluralize(list.products.count) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
