<%= link_to list_path(list), class: "text-decoration-none" do %>
    <div class="list-card">
      <% tiles, grid_class = generate_tiled_background(list) %>
      <div class="<%= grid_class %>">
        <%= tiles.html_safe %>
        <div class="list-card-content <%= local_assigns[:iterating_for] == "sidebar" ? "list-card-content-sidebar" : "" %> ">

          <div class="user-info">
            <%= image_tag list.user.avatar, class: "avatar-small" %>
            <div class="user-text">
              <div class="paragraph-xsmall-semibold"><%= list.user.username %></div>
              <div class="paragraph-xsmall-regular"><%= list.user.followers_count %> followers</div>
            </div>
          </div>
          <div class="product-count-and-list-name">
            <h6 class="list-name bold line-height-1-25"><%= list.name %></h6>
            <div class="paragraph-small-regular">
              <span class="semi-bold"><%= list.products.count %></span>
              <%= "products".pluralize(list.products.count) %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
