<%= link_to list_path(list), class: "text-decoration-none" do %>
    <div class="list-grid-container">
      <% tiles, grid_class = generate_tiled_background(list) %>
      <div class="<%= grid_class %>">
        <%= tiles.html_safe %>
        <div class="grid-text">
          <div class="user-info">
            <%= image_tag list.user.avatar, class: "avatar-small" %>
            <div class="user-text paragraph-small">
              <div class="username"><%= list.user.username %></div>
              <div class="follower-count"><%= list.user.followers_count %> followers</div>
            </div>
          </div>
          <div class="product-count-and-list-name">
            <div class="list-product-count paragraph-regular-semibold">
              <%= pluralize(list.products_count, 'product') %>
            </div>
            <h6 class="list-name"><%= list.name %></h6>
          </div>
        </div>

        <!-- remaining code -->
      </div>
    </div>
<% end %>
