<div class="list-card-container">
    <div class="list-card" style="background-image: url('<%= cl_image_path(list.background_image.key) %>');">
        <%= link_to list_path(list, source: local_assigns[:iterating_for]), class: "text-decoration-none", id: "list_#{list.id}" do %>

            <!-- User Info -->
            <div class="user-info">
                <%= image_tag list.user.avatar, class: "avatar-small" %>
                <div class="user-text">
                    <div class="username"><%= list.user.username %></div>
                    <div class="followers"><%= (list.user.followers_count || 0) %> followers</div>
                </div>
            </div>

            <!-- List Info -->
            <div class="product-count-and-list-name">
                <div class="list-name bold line-height-1-25"><%= list.name %></div>
                <div class="product-count">
                    <span class="semi-bold"><%= list.products.count %></span>
                    <%= "products".pluralize(list.products.count) %>
                </div>
            </div>
        <% end %>
    </div>
</div>
