<div class="navbar-desktop">
  <%= image_tag "https://res.cloudinary.com/dncij7vr6/image/upload/v1686124155/Favolist%204.0/app%20assets/favolist_logo_dftbgl.svg", alt: "Favolist Logo", class: "navbar-logo-desktop" %>
  <div class="nav-items text-decoration-none">
    <%= link_to search_path, class: "side-nav-item" do %>
      <i class="fa-sharp fa-regular fa-magnifying-glass"></i>
      <div>Discover</div>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to user_path(current_user), class: "side-nav-item" do %>
        <i class="fa-sharp fa-solid fa-user"></i>
        <div>Profile</div>
      <% end %>
    <% else %>
      <%= link_to 'Sign in', new_user_session_path %>
    <% end %>
    <%= link_to root_path, class: "side-nav-item" do %>
      <i class="fa-sharp fa-solid fa-house"></i>
      <div>Home</div>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to profile_settings_path, class: "side-nav-item" do %>
      <i class="fa-sharp fa-solid fa-gear"></i>
        <div>Settings</div>
      <% end %>
    <% end %>

    <% if user_signed_in? %>
      <div class="side-nav-item" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="fa-sharp fa-solid fa-square-plus"></i>
        <div>Add</div>
      </div>
    <% end %>


    <% if user_signed_in? %>
      <%= link_to notifications_path, class: "side-nav-item" do %>
        <i class="fa-sharp fa-solid fa-bell"></i>
        <div>Notifications</div>
      <% end %>
    <% end %>

  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">What do you want to create?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body custom-modal-body ">
        <%# // to achieve a gap between the buttons on the modal I set a mb-1 %>
        <%= link_to new_product_path, class: "button button-tertiary w-100 mb-3" do %>
          <i class="fa-sharp fa-light fa-square"></i>Product
        <% end %>
        <%= button_to new_list_path, class: "button button-tertiary w-100" do %>
          <i class="fa-sharp fa-light fa-table-cells"></i>List
        <% end %>

      </div>
    </div>
  </div>
</div>
