
<div class="navbar text-decoration-none">
    <%= link_to creators_path do %>
      <i class="fa-sharp fa-solid fa-star fa-lg"></i>
    <% end %>


  <%= link_to search_path do %>
    <i class="fa-sharp fa-solid fa-magnifying-glass fa-lg"></i>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to user_path(current_user) do %>
      <i class="fa-sharp fa-solid fa-user fa-lg"></i>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path do%>
      <i class="fa-sharp fa-solid fa-user fa-lg"></i>
    <% end %>
  <% end %>
  <%= link_to root_path do %>
    <i class="fa-sharp fa-solid fa-house fa-lg"></i>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to settings_path do %>
      <i class="fa-sharp fa-solid fa-gear fa-lg"></i>
    <% end %>
  <% end %>
  <% if user_signed_in? %>
    <i class="fa-sharp fa-solid fa-square-plus fa-lg" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
  <% end %>









</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" data-controller="hidemodal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">What do you want to create?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body custom-modal-body ">
        <%# // to achieve a gap between the buttons on the modal I set a mb-1 %>
        <% if current_user && current_user.lists.present?%>
          <%= link_to new_product_path, class: "button button-tertiary w-100 mb-3" do %>
            <i class="fa-sharp fa-light fa-square"></i>Pysical product
          <% end %>
          <%= link_to search_or_manual_app_upload_path, class: "button button-tertiary w-100 mb-3" do %>
            <i class="fa-sharp fa-light fa-square"></i>Mobile app or digital product
          <% end %>
          <%= link_to new_list_path, class: "button button-tertiary w-100" do %>
            <i class="fa-sharp fa-light fa-table-cells"></i>List
          <% end %>
        <% else %>
          <%= link_to '#', class: "button button-primary w-100 mb-3 disabled", aria_disabled: true do %>
            <i class="fa-sharp fa-light fa-square"></i>Physical product (create a list first)
          <% end %>
            <%= link_to search_or_manual_app_upload_path, class: "button button-tertiary w-100 mb-3 disabled", aria_disabled: true do %>
              <i class="fa-sharp fa-light fa-square"></i>Mobile app or digital product
            <% end %>
          <%= link_to new_list_path, class: "button button-tertiary w-100" do %>
            <i class="fa-sharp fa-light fa-table-cells"></i>List
          <% end %>

        <% end %>

      </div>
    </div>
  </div>
</div>
