<div class="navbar">
  <%= link_to "#" do %>
    <i class="fa-sharp fa-regular fa-magnifying-glass"></i>
  <% end %>
  <%= link_to "#" do %>
    <i class="fa-sharp fa-solid fa-user"></i>
  <% end %>
  <%= link_to root_path do %>
    <i class="fa-sharp fa-solid fa-house"></i>
  <% end %>
  <%= link_to "#" do %>
    <i class="fa-sharp fa-solid fa-gear"></i>
  <% end %>
  <%= link_to "#" do %>
    <i class="fa-sharp fa-solid fa-square-plus"></i>
  <% end %>
</div>
