<div class="product-card">
  <!--RENDERING THE HEADER -->
  <%= render "shared/product_card/product_header", product: product %>
  <% if product.photos.attached? && product.photos.count > 1 %>
    <div id="carouselExampleIndicators" class="carousel slide product-card-image">
      <div class="carousel-indicators">
        <% product.photos.each_with_index do |photo, index| %>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= index %>" class="<%= 'active' if index.zero? %>" aria-label="Slide <%= index + 1 %>"></button>
        <% end %>
      </div>
      <div class="carousel-inner">
        <% product.photos.each_with_index do |photo, index| %>
          <div class="carousel-item <%= 'active' if index.zero? %>">
            <%= image_tag photo, class: "d-block" %>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  <% elsif product.photos.attached? %>
    <div class="product-card-image">
      <%= image_tag product.photos.first %>
    </div>
  <% else %>
    <p>No image available</p>
  <% end %>
  <!--RENDERING THE CARDBAR -->
  <%= render "shared/product_card/cardbar", product: product %>
  <!--RENDERING THE PRODUCT SHOW TABS OR THE PARTIAL REVIEW OF THE PRODUCT CARD N THE FEED -->
  <%= render "shared/product_card/product_show_tabs", product: product %>
</div>


<!-- Edit or delete modal -->
<div class="modal fade" id="editOrDeleteModal-<%= product.id %>" tabindex="-1" aria-labelledby="editOrDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= product.title %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body custom-modal-body ">
        <%# // to achieve a gap between the buttons on the modal I set a mb-1 %>
        <%= button_to edit_product_path(product), class: "button button-primary w-100 mb-3" do %>
          Edit
        <% end %>
        <div class="button button-danger w-100" data-bs-target="#deleteModal-<%= product.id %>" data-bs-toggle="modal" data-bs-dismiss="modal" %>Delete</div>
      </div>
    </div>
  </div>
</div>


<!-- Delete modal -->
<div class="modal fade" id="deleteModal-<%= product.id %>" aria-hidden="true" aria-labelledby="deleteModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0 d-flex flex-end">
        <%# empty button to create space between the icon and the close button %>
        <div class="btn-close invisible"></div>
        <i class="fa-sharp fa-light fa-trash-can fa-2xl custom-modal-icon"></i>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body custom-modal">
        <h5>Are you sure you want to delete this listing?</h5>
        <p>All related data including comments will be permanently deleted.</p>
        <button type="button w-100" class="button button-outlined w-100" data-bs-dismiss="modal">No, I want to keep this listing.</button>
        <%= link_to 'Yes, please delete', product_path(product),  data: {turbo_method: :delete}, class: "button button-danger w-100" %>
      </div>
    </div>
  </div>
</div>
