<div class="product-card <%= local_assigns[:iterating_for] == "product_show_page" ? 'product-card-show' : ''  %> ">
  <div class="avatar-and-username-and-logo">
    <% unless local_assigns[:iterating_for] == "list_show_page" %>
      <% if local_assigns[:iterating_for] == "product_show_page" %>
        <%= link_to :back, class: "back-arrow-show-page" do %>
          <i class="fa-regular fa-arrow-left"></i>
        <% end %>
      <% end %>
      <div class="avatar-and-username">
        <%= link_to user_path(product.user) do %>
          <%= image_tag product.user.avatar, class: 'avatar-small' %>
        <% end %>
        <%= link_to user_path(product.user) do %>
          <div class="username paragraph-small-medium">
            <%= product.user.username %>
          </div>
          <div class="paragraph-small-regular">
            <%= product.list.name %>
          </div>
        <% end %>
      </div>
    <% else %>
      <div></div>
    <% end %>

    <% if local_assigns[:iterating_for] == "product_show_page" %>
      <% if product.logo.present? %>
        <%= link_to product_path(product) do %>
          <%= image_tag product.logo, class: 'logo' %>
        <% end %>
      <% end %>

    <% elsif local_assigns[:iterating_for] == "sidebar" %>
    <% else %>
      <i class="fa-sharp fa-regular fa-ellipsis" data-bs-toggle="modal" data-bs-target="#editOrDeleteModal-<%= product.id %>"></i>
    <% end %>


  </div>


  <% if product.photos.attached? && product.photos.count > 1 %>
    <div id="carouselExampleIndicators-<%= product.id %>" class="carousel slide product-card-image">
      <div class="carousel-indicators">
        <% product.photos.each_with_index do |photo, index| %>
          <button type="button" data-bs-target="#carouselExampleIndicators-<%= product.id %>" data-bs-slide-to="<%= index %>" class="<%= 'active' if index.zero? %>" aria-label="Slide <%= index + 1 %>"></button>
        <% end %>
      </div>
      <div class="carousel-inner">
        <% product.photos.each_with_index do |photo, index| %>
          <div class="carousel-item <%= 'active' if index.zero? %>">
            <div class="image-container">
              <%= image_tag photo, class: "d-block" %>
            </div>
          </div>
        <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators-<%= product.id %>" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators-<%= product.id %>" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  <% elsif product.photos.attached? %>
    <div class="product-card-image">
      <div class="image-container">
        <%= image_tag product.photos.first %>
      </div>
    </div>
  <% else %>
    <div class="product-card-image">
      <div class="image-container">
        <%= image_tag "https://res.cloudinary.com/dncij7vr6/image/upload/v1687825911/Favolist%204.0/app%20assets/grey_rectangle_byagze.png" %>
      </div>
    </div>
  <% end %>
  <div class="cardbar-and-text-container">
    <%= render "shared/product_card/cardbar_search", product: product, iterating_for: (local_assigns[:iterating_for] == "product_show_page" ? "product_show_page" : "")  %>
    <!--RENDERING THE PRODUCT SHOW TABS OR THE PARTIAL REVIEW OF THE PRODUCT CARD N THE FEED -->
    <% if local_assigns[:iterating_for] == "product_show_page" %>
      <%= render "shared/product_card/product_show_tabs", product: product %>
    <% else %>
      <% unless local_assigns[:iterating_for] == "sidebar" %>
        <div class="product-card-review content-text">
          <%= link_to product_path(product) do %>
            <div class="truncate-3-lines content-text text-start">
              <%= product.review%>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>





</div>


<!-- Edit or delete modal -->
<div class="modal fade" id="editOrDeleteModal-<%= product.id %>" tabindex="-1" aria-labelledby="editOrDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= product.title %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body custom-modal-body ">
        <%# // to achieve a gap between the buttons on the modal I set a mb-1 %>
        <%= button_to edit_product_path(product), class: "button button-tertiary w-100 mb-3" do %>
          Edit
        <% end %>
        <div class="button button-danger w-100" data-bs-target="#deleteModal-<%= product.id %>" data-bs-toggle="modal" data-bs-dismiss="modal"> Delete</div>
      </div>
    </div>
  </div>
</div>


<!-- Delete modal -->
<div class="modal fade" id="deleteModal-<%= product.id %>" aria-hidden="true" aria-labelledby="deleteModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-0 d-flex flex-end">
        <%# empty button to create space between the icon and the close button %>
        <div class="btn-close invisible"></div>
        <i class="fa-sharp fa-light fa-trash-can fa-2xl custom-modal-icon"></i>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body custom-modal">
        <h5>Are you sure you want to delete this listing?</h5>
        <p>All related data including comments will be permanently deleted.</p>
        <button type="button w-100" class="button button-tertiary w-100" data-bs-dismiss="modal">No, I want to keep this listing.</button>
        <%= link_to 'Yes, please delete', product_path(product),  data: {turbo_method: :delete}, class: "button button-danger w-100" %>
      </div>
    </div>
  </div>
</div>
