<div class="referral-card">
  <div class="product-header-and-image">
    <!--RENDERING THE HEADER -->
    <%= render "shared/product_card/product_header", product: referral.product, referral: true %>
    <%= cl_image_tag(referral.product.photos.first.key, :height => 112, :crop => :scale) %>
  </div>
  <div class="referral-details content-text">
  <%= referral.details %>
  </div>
  <div class="code-frame">
    <%= referral.code %>
  </div>
  <!--RENDERING THE CARDBAR -->
  <%= render "shared/product_card/cardbar", product: referral.product, referral: true %>
</div>
