<div class="referral-card">
  <div class="referral-header-and-image">
    <!--RENDERING THE HEADER -->
    <div class="product-header-referral-card">
      <div class="list-and-title-and-price text-decoration-none">
        <div class="product-title">
          <%= referral.product.title  %>
          <%= link_to product_path(referral.product) do %>
          <% end %>
        </div>
        <%= link_to product_path(referral.product) do %>
          <div class="price paragraph-small">$<%=  referral.product.price.to_i %></div>
        <% end %>
      </div>
  

    </div>
      <%= cl_image_tag(referral.product.photos.first.key, :height => 112, :crop => :scale) %>
    </div>
    <div class="referral-details content-text">
      <%= referral.details %>
    </div>
    <div class="code-frame">
      <%= referral.code %>
    </div>
    <!--RENDERING THE CARDBAR -->
    <%= render "shared/product_card/cardbar_search", product: referral.product, iterating_for: "referral_card" %>

</div>
