<div class="referral-card text-decoration-none" id="referral_<%= referral.id %>" data-sortable-update-url="<%= referral_path(referral) %>">
  <div class="avatar-and-username-and-list-name">


    <% unless local_assigns[:iterating_for] == "list_show_page" %>

      <%= link_to user_path(referral.product.user) do %>
        <%= image_tag referral.product.user.avatar, class: 'avatar-small' %>
      <% end %>
      <%= link_to user_path(referral.product.user) do %>
        <div class="username paragraph-small-medium">
          <%= referral.product.user.username %>
          <span class="comment-date-and-reply-button">  •   <% if time_ago_in_words(referral.created_at, include_seconds: false) == "less than a minute ago" %>
                <%= time_ago_in_words(referral.created_at, include_seconds: false) %>
              <% else %>
                <%= time_ago_in_words(referral.created_at, include_seconds: false).gsub('about', '').gsub(/(\d+)\s*minute(s)?\s*/, '\1m').gsub(/(\d+)\s*hour(s)?\s*/, '\1h').gsub(/(\d+)\s*day(s)?\s*/, '\1d').gsub(/(\d+)\s*month(s)?\s*/, '\1mo').gsub(/(\d+)\s*year(s)?\s*/, '\1y') %>
              <% end %></span>

        </div>
        <div class="paragraph-small-regular">
          <%= referral.product.list.name %>
        </div>
      <% end %>
    <% else %>
      <% if referral.product.user == current_user %>
        <i class="fa-thin fa-grip-lines"></i>
      <% else %>
        <div></div>
      <% end %>
    <% end %>


  </div>

  <div class="product-card-image">
    <div class="image-container">
      <%= cl_image_tag(referral.product.photos.first.key) %>
    </div>
  </div>

  <div class="code-frame">
    <div class="content-text">
      <%= referral.code %>
    </div>
  </div>


  <div class="product-title-and-price-and-button">
    <div class="product-title-and-price">
      <div class="paragraph-small-bold"><%= referral.product.title  %></div>
      <div class="price paragraph-small">$<%= referral.product.price.to_i %></div>
    </div>
    <%= link_to "See listing", product_path(referral.product, source: (local_assigns[:iterating_for])), class: "button button-link" %>
  </div>

  <div class="referral-details content-text">
    <%= referral.details %>
  </div>
</div>
