<div class="settings-menu">
  <div class="settings-container text-decoration-none">
    <h5>Account</h5>
    <%= link_to email_password_settings_path, class: "paragraph-medium settings-nav-item" do %>
      Email & Password
      <i class="fa-sharp fa-regular fa-chevron-right"></i>
    <% end %>
    <%= link_to profile_settings_path, class: "paragraph-medium settings-nav-item" do %>
      Profile
      <i class="fa-sharp fa-regular fa-chevron-right"></i>
    <% end %>
    <%= link_to privacy_settings_path, class: "paragraph-medium settings-nav-item" do %>
      Privacy
      <i class="fa-sharp fa-regular fa-chevron-right"></i>
    <% end %>
  </div>
  <hr>
  <div class="settings-container text-decoration-none">
    <h5>More</h5>
    <%= link_to email_password_settings_path, class: "paragraph-medium settings-nav-item" do %>
      Email & Password
      <i class="fa-sharp fa-regular fa-chevron-right"></i>
    <% end %>
    <%= link_to profile_settings_path, class: "paragraph-medium settings-nav-item" do %>
      Profile
      <i class="fa-sharp fa-regular fa-chevron-right"></i>
    <% end %>
    <%= link_to privacy_settings_path, class: "paragraph-medium settings-nav-item" do %>
      Privacy
      <i class="fa-sharp fa-regular fa-chevron-right"></i>
    <% end %>
  </div>
  <hr>
  <div class="settings-container">
    <%# <div class="mt-4"> %>
      <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: "button button-tertiary w-100" %>
    <%# </div> %>
  </div>

</div>
