
<div class="user-card user-card-desktop-sidebar text-decoration-none">
  <div class="avatar-and-username-and-follow-counts-and-follow-button">
    <%= link_to user_path(user) do %>
      <%= image_tag user.avatar, class: "#{local_assigns[:sidebar] ? 'avatar-large' : 'avatar-xl'}" %>
    <% end %>
    <div class="username-and-follow-counts">
      <div class="username-and-conditional-follow-button">
        <%= link_to user_path(user) do %>
          <% if local_assigns[:sidebar] %>
            <div class="username">
              <%= user.username %>
            </div>
          <% else %>
            <h5><%= user.username %></h5>
          <% end %>
        <% end %>
        <% if local_assigns[:current_user_followers_tab] && !current_user.is_following?(user) || local_assigns[:sidebar] && !current_user.is_following?(user)  %>
          <%= button_to 'follow', follow_user_path(user), method: :post, class: "small-follow-button" %>
        <% elsif local_assigns[:current_user_followed_tab] && user.is_following?(current_user) %>
          <div class="small-follow-button">
            follows you
          </div>
        <% end %>
      </div>
      <div class="user-count">
        <span class="bold-text"><%= user.lists.count %></span> lists ⸱ <span class="bold-text"><%= user.products.count %></span> products
      </div>
      <div class="followers-count">
        <span class="bold-text"><%= user.followers.count %></span> followers ⸱ <span class="bold-text"><%= user.followed.count %></span> following
      </div>
    </div>
    <%# Defining which button to appear (follow, unfollow, remove follower, or followed (the latter serves the same function as remove follower but just discourages the negative action of unfollowing).
    The unfollow nad remove follow buttons only appear on the follow page of current_user, in the followed and following tabs respectively%>

    <% unless local_assigns[:sidebar] %>
      <% if local_assigns[:current_user_followers_tab] %>
        <%= button_to 'Remove', remove_follower_user_path(user), method: :post, class: "btn btn-main" %>
      <% elsif local_assigns[:current_user_followed_tab] %>
        <%= button_to 'Unfollow', unfollow_user_path(user), method: :post, class: "btn btn-main" %>
      <% elsif current_user.is_following?(user.id) %>
        <%= button_to 'Followed', unfollow_user_path(user), method: :post, class: "button button-secondary button-small" %>
      <% elsif user.is_following?(current_user.id) %>
        <%= button_to 'Follow Back', follow_user_path(user), method: :post, class: "btn btn-pink" %>
      <% elsif !user == current_user %>
        <%= button_to 'Follow', follow_user_path(user), method: :post, class: "button button-link" %>
      <% end %>
    <% end %>

  </div>

  <% unless local_assigns[:sidebar] %>
    <%= link_to user_path(user) do %>
      <p class="truncate-3-lines content-text">
        <%= user.bio %>
      </p>
    <% end %>
  <% end %>


</div>
