
<div class="nav-header-desktop nav-header-desktop-settings sticky-header text-decoration-none">


  <div>
    <h5 class="main-title">
      Settings
    </h5>
  </div>
  <div></div>
</div>

<div class="nav-header sticky-header text-decoration-none">
  <div class="back-arrow-and-element">
    <%= link_to settings_path do %>
      <i class="fa-regular fa-arrow-left"></i>
    <% end %>
  </div>
  <div>
    <h5 class="main-title">
      Email & Password
    </h5>
  </div>
  <div></div>
</div>



<div class="settings-desktop-grid">
  <%= render 'shared/settings_menu' %>
  <div class="settings-container subpage-settings-container">
    <h3 class="hide-on-mobile">Email & Password</h3>
    <div class="form-container">
      <%= simple_form_for(@user, url: update_email_password_settings_path, method: :patch) do |f| %>
        <%= f.input :email %>
        <%= f.input :current_password %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>
        <%= f.button :submit, "Update email & password", class: "button button-primary" %>
      <% end %>
    </div>
  </div>
</div>
