<div class="settings">
  <h2>Email & Password</h2>

  <%= simple_form_for(@user, url: update_email_password_settings_path, method: :patch) do |f| %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.input :current_password %>
    <%= f.button :submit, "Update Email & Password" %>
  <% end %>
</div>
