<div class="settings-desktop-grid">
  <div class="settings-menu">
    <%= render 'shared/settings_menu' %>
  </div>
  <div class="settings-container">
    <h2>Email & Password</h2>
    <%= simple_form_for(@user, url: update_email_password_settings_path, method: :patch) do |f| %>
      <%= f.input :email %>
      <%= f.input :current_password %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
      <%= f.button :submit, "Update Email & Password", class: "button button-primary" %>
    <% end %>
  </div>
</div>
