<div class="settings">
  <h2>Email & Password</h2>

  <%= form_for(@user, url: update_email_password_settings_path, method: :patch) do |f| %>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="field">
      <%= f.label :current_password %>
      <%= f.password_field :current_password %>
    </div>
    <%= f.submit "Update Email & Password" %>
  <% end %>
</div>
