
<div class="nav-header-desktop nav-header-desktop-settings sticky-header text-decoration-none">
  <div>
    <h5 class="main-title">
      Settings
    </h5>
  </div>
  <div></div>
</div>

<div class="nav-header sticky-header text-decoration-none">
  <div class="back-arrow-and-element">
    <%= link_to settings_path do %>
      <i class="fa-regular fa-arrow-left"></i>
    <% end %>
  </div>
  <div>
    <h5 class="main-title">
      Profile
    </h5>
  </div>
  <div></div>
</div>


<div class="settings-desktop-grid">
  <%= render 'shared/settings_menu' %>
  <div class="settings-container subpage-settings-container">
    <h3 class="hide-on-mobile">Profile</h3>
    <div class="form-container">
      <%= simple_form_for @user, url: update_profile_settings_path, method: :patch, html: { multipart: true, class: 'settings-form' } do |f| %>


        <div class="avatar-settings" data-controller="avatar-preview">
          <div class="form-group">
            <% if @user.avatar.attached? %>
              <%= image_tag @user.avatar, class: 'avatar-xxl form-group-container', id: 'img-preview' %>
            <% else %>
              <img id='img-preview' class="avatar-xl" src="#" alt="No image" />
            <% end %>
          </div>

          <div class="form-group">
            <%= f.file_field :avatar, data: { "avatar-preview-target": "input", action: "avatar-preview#preview" } %>
          </div>
        </div>
        <%= f.input :username, label: 'Username' %>




      <div class="form-group form-group-container" data-controller="charactercounter" data-charactercounter-limit-value="360">
        <%= f.label :bio, class: "label mb-2" %>
        <%= f.text_area :bio, class: 'form-control bio', placeholder: "Your bio (maximum 360 characters)", maxlength: 360, data: { action: "keyup->charactercounter#updateCounter" } %>
        <i data-charactercounter-target="counter" class="counter-text"></i>
      </div>




      <div class="form-group form-group-container" data-controller="charactercounter" data-charactercounter-limit-value="5000">
        <%= f.label :about, class: "label mb-2" %>
        <%= f.text_area :about, class: 'form-control about', placeholder: "Your about text (maximum 5000 characters)", maxlength: 5000, data: { action: "keyup->charactercounter#updateCounter" } %>
        <i data-charactercounter-target="counter" class="counter-text"></i>
      </div>

        <%= f.button :submit, 'Update profile', class: 'button button-primary' %>
      <% end %>
    </div>
  </div>
</div>
