
<div class="nav-header-desktop sticky-header text-decoration-none">
  <div class="back-arrow-and-element">
    <%= link_to :back do %>
      <i class="fa-regular fa-arrow-left"></i>
    <% end %>
  </div>
  <div>
    <h5 class="main-title">
      Settings
    </h5>
  </div>
  <div></div>
</div>

<div class="nav-header sticky-header text-decoration-none">
  <div class="back-arrow-and-element">
    <%= link_to settings_path do %>
      <i class="fa-regular fa-arrow-left"></i>
    <% end %>
  </div>
  <div>
    <h5 class="main-title">
      Settings
    </h5>
  </div>
  <div></div>
</div>


<div class="settings-desktop-grid">
  <%= render 'shared/settings_menu' %>
  <div class="settings-container subpage-settings-container">
    <h3>Profile</h3>
    <div class="form-container">
      <%= simple_form_for @user, url: update_profile_settings_path, method: :patch, html: { multipart: true, class: 'settings-form' } do |f| %>
        <div class="avatar-settings" data-controller="avatar-preview">
          <div class="form-group">
            <% if @user.avatar.attached? %>
              <%= image_tag @user.avatar, class: 'avatar-xxl form-group-container', id: 'img-preview' %>
            <% else %>
              <img id='img-preview' class="avatar-xl" src="#" alt="No image" />
            <% end %>
          </div>

          <div class="form-group">
            <%= f.file_field :avatar, data: { "avatar-preview-target": "input", action: "avatar-preview#preview" } %>
          </div>
        </div>
        <%= f.input :username, label: 'Username' %>
        <div class="form-group form-group-container">
          <%= f.label :bio %>
          <%= f.text_area :bio, class: 'form-control bio' %>
        </div>

        <%= f.button :submit, 'Update profile', class: 'button button-primary' %>
      <% end %>
    </div>
  </div>
</div>
