

<div data-search-target="searchresults">
  <div class="tab-content product-content" id="pills-tabContent">
    <div class="tab-pane fade show active linebreak" id="pills-lists" role="tabpanel" aria-labelledby="pills-lists-tab">
      <div id="lists" class="list-card-grid" data-search-target="lists"
        data-list-pagination-target="lists"
        data-list-pagination-url-value="<%= pagination_url%>"
        data-list-pagination-page-value="<%= 2 %>">
        <%# <% if @lists %>
          <%# <%= render @lists %>
        <%# <% end %>
      </div>
    </div>
    <div class="tab-pane fade linebreak" id="pills-products" role="tabpanel" aria-labelledby="pills-products-tab">
      <div id="products" class="card-grid" data-search-target="products"
        data-product-pagination-target="products"
        data-product-pagination-url-value="<%= pagination_url %>"
        data-product-pagination-page-value="<%= 2%>">
      <%# <% if @products %>
        <%# <%= render @products %>
      <%# <% end %>
      </div>
    </div>
    <div class="tab-pane fade linebreak" id="pills-referrals" role="tabpanel" aria-labelledby="pills-referrals-tab">
      <div id="referrals" class="card-grid" data-search-target="referrals"
        data-referral-pagination-target="referrals"
        data-referral-pagination-url-value="<%= pagination_url%>"
        data-referral-pagination-page-value="<%= 2 %>">
        <%# <% if @referrals %>
          <%# <%= render @referrals %>
        <%# <% end %>
      </div>
    </div>
    <div class="tab-pane fade linebreak" id="pills-users" role="tabpanel" aria-labelledby="pills-users-tab">
      <div id="users" class="card-grid" data-search-target="users"
        data-user-pagination-target="users"
        data-user-pagination-url-value="<%= pagination_url%>"
        data-user-pagination-page-value="<%= 2 %>">
        <%# <% if @users %>
          <%# <%= render @users %>
        <%# <% end %>
      </div>
    </div>
    <%# KEEPING THIS HERE AS A REFERENCE WHEN I NEED TO ADJUST NAVIGATION WITH BACK ARROWS SINCE I REMOVED ITERATIRN FOR STUFF %>
    <%# <div class="tab-pane fade linebreak" id="pills-referrals" role="tabpanel" aria-labelledby="pills-referrals-tab"> %>
      <%# <div class="card-grid" data-search-target="referrals"> %>
        <%# <% referrals.each do |referral| %>
        <%# <%= render 'shared/referral_card', referral: referral, iterating_for: "search_feed" %>
        <%# <% end %>
      <%# </div> %>
    <%# </div> %>
  </div>
</div>
