<%= render 'shared/search' %>

<ul class="nav custom-nav nav-pills nav-justified sticky-nav" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link custom-nav-link active product-tabs" id="pills-products-tab" data-bs-toggle="pill" data-bs-target="#pills-products" type="button" role="tab" aria-controls="pills-products" aria-selected="true"><i class="fa-sharp fa-regular fa-square"></i> Products </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link custom-nav-link product-tabs" id="pills-lists-tab" data-bs-toggle="pill" data-bs-target="#pills-lists" type="button" role="tab" aria-controls="pills-lists" aria-selected="false"><i class="fa-sharp far fa-table-cells"></i>List</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link custom-nav-link product-tabs" id="pills-referrals-tab" data-bs-toggle="pill" data-bs-target="#pills-referrals" type="button" role="tab" aria-controls="pills-referrals" aria-selected="false"><i class="fa-sharp fa-regular fa-tag"></i>Referrals </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link custom-nav-link product-tabs" id="pills-about-tab" data-bs-toggle="pill" data-bs-target="#pills-about" type="button" role="tab" aria-controls="pills-about" aria-selected="false"><i class="fa-sharp fa-regular fa-user"></i>About</button>
  </li>
</ul>


<div class="tab-content product-content" id="pills-tabContent">
  <div class="tab-pane fade show active linebreak" id="pills-products" role="tabpanel" aria-labelledby="pills-products-tab">
    <% @products.each do |product| %>
      <%= render 'shared/product_card', product: product %>
    <% end %>
  </div>
  <div class="tab-pane fade linebreak" id="pills-lists" role="tabpanel" aria-labelledby="pills-lists-tab">
    <% @lists.each do |list| %>
      <%= render 'shared/list_card', list: list %>
    <% end %>
  </div>
  <div class="tab-pane fade linebreak" id="pills-referrals" role="tabpanel" aria-labelledby="pills-referrals-tab">
    <% @referrals.each do |referral| %>
    <%= render 'shared/referral_card', referral: referral %>
    <% end %>
  </div>
  <div class="tab-pane fade linebreak" id="pills-about" role="tabpanel" aria-labelledby="pills-about-tab">
 <%# <h6>About <%= @user.username %></h6>
 <%# <p><%= @user.bio %></p>
  </div>
</div>
