<%= render 'shared/search' %>

<div class="tab-content product-content" id="pills-tabContent">
  <div class="tab-pane fade show active linebreak" id="pills-products" role="tabpanel" aria-labelledby="pills-products-tab">
    <div class="card-grid-search">
      <% @products.each do |product| %>
        <%= render 'shared/product_card', product: product, iterating_for: "search_feed" %>
      <% end %>
    </div>
  </div>
  <div class="tab-pane fade linebreak" id="pills-lists" role="tabpanel" aria-labelledby="pills-lists-tab">
    <div class="card-grid-search">
      <% @lists.each do |list| %>
        <%= render 'shared/list_card', list: list %>
      <% end %>
    </div>
  </div>
  <div class="tab-pane fade linebreak" id="pills-referrals" role="tabpanel" aria-labelledby="pills-referrals-tab">
    <div class="card-grid-search">
      <% @referrals.each do |referral| %>
      <%= render 'shared/referral_card', referral: referral %>
      <% end %>
    </div>
  </div>
  <div class="tab-pane fade linebreak" id="pills-profiles" role="tabpanel" aria-labelledby="pills-profiles-tab">
    <div class="card-grid-search">
      <% @users.each do |user| %>
        <%= render 'users/user_card', user: user %>
      <% end %>
    </div>
  </div>
</div>
