<div class="px-8 py-6">
    <h3 class="text-4xl text-center mt-3">Contact Us</h3>
    <hr>
    <p class="mb-4 mt-4">We'd love to hear from you. Feel free to contact us about business inquiries, feedback or anything else you'd like to share. We'll get back to you as soon possible.</p>
    <%= simple_form_for @contact do |form| %>

    <% if @contact.errors.any? %>
        <div id="error_explanation" class="bg-rose-200 pt-3 pb-1 mb-4 px-4 rounded-md">
            <div class="font-bold text-rose-700 text-sm pb-4">
                <%= pluralize(@contact.errors.count, "error") %> prohibited this page from being saved:
            </div>

            <ul class="pb-0 mb-0">
                <% @contact.errors.full_messages.each do |message| %>
                    <li class="text-rose-600 pl-4 text-sm"><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field mb-6">
        <%= form.input :name %>
    </div>

    <div class="field mb-6">
        <%= form.input :email %>
    </div>

    <div class="mb-6 field about">
        <%= form.input :message, as: :text %>
    </div>

    <div class="actions flex justify-end mt-2">
        <%= form.button :submit, "Send Message", class: 'button button-primary' %>
    </div>
    <% end %>
</div>
