<%# so referral local doesn't need to manually be set to false when not rendered for referral card  %>
<% referral = defined?(referral) ? referral : 'false' %>


<div class="<%= referral == true ? 'product-header-referral-card' : 'product-header' %>">
  <% if controller_name == 'products' && action_name == 'show' %>
    <%= link_to :back do %>
      <i class="fa-regular fa-arrow-left"></i>
    <% end %>
  <% else %>
    <div></div>
  <% end %>
  <div class="list-and-title-and-price text-decoration-none">
    <% unless controller_name == 'lists' && action_name == 'show' %>
      <%= link_to list_path(product.list) do %>
        <h6 class="overline"><%= product.list.name %></h6>
      <% end %>
    <% end %>
    <div class="product-title">
      <%= product.title  %>
      <%= link_to product_path(product) do %>
      <% end %>
    </div>
    <%= link_to product_path(product) do %>
      <div class="price paragraph-small">$<%= product.price.to_i %></div>
    <% end %>
  </div>
  <% unless referral == true %>
    <i class="fa-sharp fa-regular fa-ellipsis" data-bs-toggle="modal" data-bs-target="#editOrDeleteModal-<%= product.id %>"></i>
  <% end %>
</div>
