  <div class="product-header">
    <% if controller_name == 'products' && action_name == 'show' %>
      <%= link_to :back do %>
        <i class="fa-regular fa-arrow-left"></i>
      <% end %>
    <% else %>
      <div></div>
    <% end %>
    <div class="list-and-title-and-price">
      <% unless controller_name == 'lists' && action_name == 'show' %>
        <h6 class="list-name"><%= product.list.name %></h6>
      <% end %>
      <%= link_to product_path(product) do %>
        <h5 class="product-title"><%= product.title  %></h5>
        <div class="price paragraph-small">$<%= product.price.to_i %></div>
      <% end %>
    </div>
    <i class="fa-sharp fa-regular fa-ellipsis" data-bs-toggle="modal" data-bs-target="#editOrDeleteModal-<%= product.id %>"></i>
  </div>
