<div class="nav-header sticky-header">
  <%= link_to product_path(@product) do %>
    <i class="fa-regular fa-arrow-left"></i>
  <% end %>

  <div class="product-title-and-list-name">
    <h6><%= @product.title %></h6>
    <h5>Comments</h5>
  </div>
  <div></div>
</div>


<div class="comments" data-controller="comments">

  <div class="comments-container" data-comments-target="comments">
    <% @product.comments.where(parent_comment_id: nil).each do |comment| %>
      <div class="comment text-decoration-none" data-controller="replies-and-comments" >
        <%= cl_image_tag comment.user.avatar.key, crop: "fill", gravity: "center", aspect_ratio: "1:1", class: "avatar"%>
        <div class="comment-container">
          <div class="comment-content">
            <div class="comment-author">
              <%= comment.user.username %>
            </div>
            <div class="comment-body">
              <%= comment.body %>
            </div>
          </div>
          <div class="comment-date-and-reply">
            <span class="comment-date-and-reply-button"><%= time_ago_in_words(comment.created_at, include_seconds: false).gsub('about', '').gsub(/minute(s)?\s*/, 'm').gsub(/hour(s)?\s*/, 'h').gsub(/day(s)?\s*/, 'd').gsub(' m', 'm').gsub(' h', 'h').gsub(' d', 'd') %></span>
            <span class="comment-date-and-reply-button" data-action="click->replies-and-comments#togglereplyform">Reply</span>
            <% if comment.user == current_user %>
              <span class="comment-date-and-reply-button">Delete</span>
            <% end %>
          </div>
          <%= render "comments/direct_reply_form", product: comment.product, parent_comment: comment, reply: Comment.new, remote: true %>
          <% if comment.replies.count > 1 %>
            <%= link_to "See all #{comment.replies.count} replies", product_comment_path(comment.product, comment), class: "see-all-replies", data: { replies_and_comments_target: "viewrepliesbutton" }%>
          <% end %>
          <div class="commentlastreplies" data-replies-and-comments-target="commentlastreplies">
            <% if comment.replies.any? %>
                <%= render "comments/comment_reply", reply: comment.replies.last, parent_comment: comment, product: comment.product %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <!-- so the scrolling after comment submission works  -->
  </div>

  <div class="scroll-point h-300">
  </div>
  <%= render 'comments/commentform', product: @product, comment: Comment.new, parent_comment: nil, context: "comment", remote: true %>

</div>
