<div class="nav-header sticky-header">
  <%= link_to product_path(@product, source: @source) do %>
    <i class="fa-regular fa-arrow-left"></i>
  <% end %>

  <div class="titles">
    <div class="subtitle"><%= @product.title %></div>
    <h5 class="main-title">Comments</h5>
  </div>
  <div></div>
</div>

<div class="nav-header-desktop sticky-header">
  <%= link_to product_path(@product, source: @source) do %>
    <i class="fa-regular fa-arrow-left"></i>
  <% end %>

  <div class="titles">
    <div class="subtitle"><%= @product.title %></div>
    <h5 class="main-title">Comments</h5>
  </div>
  <div></div>
</div>


<div class="comments" data-controller="comments">

  <div class="comments-container" data-comments-target="comments">
    <div class="spacer-regular"></div>
    <% @product.comments.where(parent_comment_id: nil).each do |comment| %>
      <div class="comment text-decoration-none" data-controller="replies-and-comments" >
        <%= cl_image_tag comment.user.avatar.key, crop: "fill", gravity: "center", aspect_ratio: "1:1", class: "avatar"%>
        <div class="comment-container">
          <div class="comment-content">
            <div class="comment-author">
              <%= comment.user.username %>
            </div>
            <div class="comment-body">
              <%= comment.body %>
            </div>
          </div>
          <div class="comment-date-and-reply">
            <span class="comment-date-and-reply-button">



                       <% if time_ago_in_words(comment.created_at, include_seconds: false) == "less than a minute ago" %>
              <%= time_ago_in_words(comment.created_at, include_seconds: false) %>
            <% else %>
              <%= time_ago_in_words(comment.created_at, include_seconds: false).gsub('about', '').gsub(/(\d+)\s*minute(s)?\s*/, '\1m').gsub(/(\d+)\s*hour(s)?\s*/, '\1h').gsub(/(\d+)\s*day(s)?\s*/, '\1d').gsub(/(\d+)\s*month(s)?\s*/, '\1mo').gsub(/(\d+)\s*year(s)?\s*/, '\1y') %>
            <% end %>



            </span>
            <% if current_user.present? %>
              <span class="comment-date-and-reply-button" data-action="click->replies-and-comments#togglereplyform">Reply</span>
            <% end %>

            <% if comment.user == current_user %>
              <span class='comment-date-and-reply-button'>
                <%= button_to 'Delete', comment_path(comment), method: :delete, style: "border: none; padding: 0; background: none; color: inherit; font: inherit; text-align: inherit;" %>
              </span>
            <% end %>
          </div>
          <% if comment.replies.count > 1 %>
            <%= link_to "See all #{comment.replies.count} replies", product_comment_path(comment.product, comment, source: @source), class: "see-all-replies", data: { replies_and_comments_target: "viewrepliesbutton" }%>
          <% end %>
          <div class="comment-replies-container" data-replies-and-comments-target="commentlastreplies">
            <% if comment.replies.any? %>
                <%= render "comments/comment_reply", reply: comment.replies.last, parent_comment: comment, product: comment.product %>
            <% end %>
          </div>
          <% if current_user.present? %>
            <%= render "comments/direct_reply_form", product: comment.product, parent_comment: comment, reply: Comment.new, remote: true %>
          <% end %>

        </div>
      </div>
    <% end %>
    <!-- so the scrolling after comment submission works  -->
  </div>

  <div class="scroll-point h-300">
  </div>
  <% if current_user.present? %>
    <%= render 'comments/commentform', product: @product, comment: Comment.new, parent_comment: nil, context: "comment", remote: true %>
  <% end %>
</div>
    <!-- The direct reply functionality doesn't work optimal for mobile -->
