<!DOCTYPE html>
<html>
  <head>
    <title>Favolist40</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%# because importing dropzone in the application.scss file doesn't seem to work %>
    <script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script>
    <link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css" />

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/flashes" %>
    <div class="desktop_grid">
      <%= render "shared/navbar_desktop" %>
      <div class="main-section-desktop">
        <%= yield %>
      </div>
      <%= render "shared/sidebar" %>
    </div>
    <%= render "shared/navbar" %>
  </body>
</html>
