<!DOCTYPE html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-W0CH2TSGSS"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-W0CH2TSGSS');
    </script>

    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:image" content="<%= meta_image %>">
    <meta property="og:description" content="<%= meta_description %>">
    <meta property="og:site_name" content="<%= meta_title %>">


    <%= favicon_link_tag "favicon.png", rel: "icon", type: "image/png" %>
    <%# <title>Favolist</title> %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%# because importing dropzone in the application.scss file doesn't seem to work %>
    <script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script>
    <link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css" />

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/flashes" %>
    <% unless controller_name == 'sessions' && action_name == 'new' || controller_name == 'registrations' && action_name == 'new' || controller_name == 'passwords' && action_name == 'new' %>

      <div class="desktop_grid">
        <%= render "shared/navbar_desktop" %>
        <div class="<%= (controller_name == 'pages' && (action_name == 'about' || action_name == 'beta')) || ( controller_name == 'settings' || controller_name == 'contacts')   ? 'main-section-desktop-content-page' : 'main-section-desktop' %>">
          <%= yield %>
        </div>
        <% unless controller_name == 'pages' && (action_name == 'about' || action_name == 'beta') || controller_name == 'settings' %>
          <%= render "shared/sidebar" %>
        <% end %>
      </div>
      <%= render "shared/navbar" %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
